<!DOCTYPE html>
<html>
<head>
<title>Bowling Alley</title>
</head>

<body>
  <h1>Bowling Alley Name</h1>
  <h2>Always Bowling or Something</h2>
  <p>We are currently stationed on the moon. You'll have to find your own ride. </p>
</body>

</html>